.polly-parrot {
  width: 50px;
  margin-right: 10px;
  margin-top: 5px;
}

.polly-parrot2 {
  width: 50px;
  margin-top: -10px;
}

.flip {
  transform: rotateY(180deg);
}

.social-logins > li {
  list-style: none;
  margin: 30px;
}

.splash-copy {
  padding-top: 20px;
}

.listPolls {
  padding: 0;
  list-style: none;
}

.recentPolls {
  list-style: none;
  box-shadow: 0.5px 0.5px 5px black;
  margin: 5px 0;
  padding: 10px;
}

.social-logins > li > a:hover {
  text-decoration: none;
  color: white;
}

.googleplus {
  background-color: #DF4930;
  color: white;
  padding: 15px 42px 15px 15px;
  font-size: 1.3em;
}

.twitter {
  background-color: #64CCF1;
  color: white;
  padding: 15px 45px 15px 15px;
  font-size: 1.3em;
}

.facebook {
  background-color: #507CC0;
  color: white;
  padding: 15px 20px 15px 15px;
  font-size: 1.3em;
}