<div class="row">
  <div class="col-md-6">
    <h3>1. Ask a question</h3>
    <form ng-submit="newPoll();">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="What should I get mom for her birthday?" ng-model="newPoll.title">
      </div>
      <div class="form-group">
        <h3>2. Add some items</h3>
        <input type="text" class="form-control" ng-model="newPoll.option1" placeholder="Option 1">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Option 2" ng-model="newPoll.option2">
      </div>
      <button class="btn btn-primary">Add another item...</button>
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
</div>