        <!--Sign-up form-->
<!--
        <div class="col-md-6">
          <h3>Sign Up</h3>
          <p>It's free and always will be.</p>
          <form ng-submit="register();">
              <p>{{error}}</p>
            <div class="form-group">
              <label>First Name</label>
              <input ng-model="newUser.fName" class="form-control" type="fName">
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input ng-model="newUser.lName" class="form-control" type="lName">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input ng-model="newUser.email" class="form-control" type="email">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input ng-model="newUser.password" class="form-control" type="email">
            </div>
            <button type="submit" class="btn btn-lg btn-success signup-btn">Sign Up</button>
          </form>
        </div>
-->